<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763140412402-da1g6hihfuspendebr4vmqslf2g1ld4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763140412402-da1g6hihfuspendebr4vmqslf2g1ld4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAmZu323cdXrdbURFZyTw9RPdX5-0ZFkQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>763140412402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-b04ba</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-b04ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763140412402:ios:eb3bae027098eaf0dfd16b</string>
</dict>
</plist>